/*
Theme Name: AbeloHost
Description: Children theme for Storefront
Author: Andrew Shitov
Template: storefront
*/

.products {
    display: flex;
    flex-wrap: wrap;
    margin: -20px;
}

.products .product {
    flex: 0 0 calc(100% / 4 - 40px);
    margin: 20px;
}